@charset "UTF-8";

/* Layout (global rules for all sizes) */

body { margin: 0; padding: 0;}

header a. logo {
	display: block ;
	position:absolute;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	}
	
	



/* Layout Large Screens (default for older browsers) */

header{
	height: 275px;
	background: url(../images/banner_1.jpg) no-repeat right 0px;
	
	}
	
	header a.logo {
		width:150px;
		height:85px;
		top: 28px;
		right: 30px;
		
		}
		
		article { padding: 60px 20px 10px 20px; }
		
		.promo_container { padding: 0px 0px 15px 20px;
		}
		.promo_container .promo {
			width: 33%;
			float:left;
			background-position: 0px 3px;
			}
			
			.promo_container .promo .content { padding: 0px 30px 0px 70px;} 
				
				
				
			
			



